<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../estilo.css">
    <title>Document</title>
</head>
<body>
    <p>Usuario : Vitta //  Credito $ : <input type="text" class="credito__disponible" id="credito__disponible">
    <div class="container">
        <div class="linea_1" id="linea_1">X</div>
        <div class="linea_2" id="linea_2">X</div>
        <div class="linea_3" id="linea_3">X</div>
        <div class="linea_4" id="linea_4">X</div>
        <div class="linea_5" id="linea_5">X</div>
        <div class="linea_6" id="linea_6">X</div>
        <div class="linea_7" id="linea_7">X</div>
        <div class="linea_8" id="linea_8">X</div>
        <div class="linea_9" id="linea_9">X</div>
    </div>
    <div class="caja__apuestas">
        <input type="text" class="apuesta" id="apuesta" placeholder="Apuesta"><br><br>
        <!-- <input type="text" class="lineas" id="lineas" placeholder="Lineas"> -->
    </div>

    <div class="botonera">
        <button class="por__dos" id="por__dos">*2</button>
        <button class="por__tres" id="por__tres">*3</button>
        <button class="por__cuatro" id="por__cuatro">*4</button>
        <button class="por__cinco" id="por__cinco">*5</button> <br>

        <button class="tiradas__automaticas">Tiradas Automaticas</button>
        <button class="btn_Tirar" onclick="imgRandom()">Tirar</button>
    </div>

    <iframe src="https://www.sypsy.com.ar/vistas/indumentaria.html" frameborder="0"></iframe>
    

    <script src="../codigo.js"></script>
</body>
</html>